@font-face {
    font-family: "Behdad";
    src: url(includes/fonts/Behdad-Regular.woff),
        url(includes/fonts/Behdad-Regular.ttf),
        url(includes/fonts/Behdad-Regular.otf);
    font-weight : normal;
    font-style: normal;
}

* {
    font-family: Behdad , Tahoma;
}

body{
    direction: rtl;
    margin: 0px !important;
    padding: 0px !important;
}
.width_90{
    width: 90% !important;
}
.height_90{
    height: 90% !important;
}
